/* account component */
.account {
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  font-size: 12px;
    
}

.account > span:fast-child {
  gap: 1 rem;
  cursor: pointer;
}

 .text{
  font-weight: bold;
    cursor: pointer;
      color: black
 }

